<html>
    <body>

        <center>

        <h1> HEART DISEASE PREDICTION </h1><br>
            <h2> ENTER DETAILS </h2>



        <form method="POST", action= http://127.0.0.1:5000/predict >
        <b> AGE = <input type="text", name='age', placeholder="Enter Value"> <br><br>
         SEX = <input type="text", name='sex', placeholder="Enter Value"> <br><br>
         CP = <input type="text", name='cp', placeholder="Enter Value"> <br><br>
         TRESTBPS = <input type="text", name='trestbps', placeholder="Enter Value"> <br><br>
         CHOL = <input type="text", name='chol', placeholder="Enter Value"> <br><br>
         FBS = <input type="text", name='fbs', placeholder="Enter Value"> <br><br>
         RESTECG = <input type="text", name='restecg', placeholder="Enter Value"> <br><br>
         THALACH = <input type="text", name='thalach', placeholder="Enter Value"> <br><br>
         EXANG = <input type="text", name='exang', placeholder="Enter Value"> <br><br>
         OLDPEAK = <input type="text", name='oldpeak', placeholder="Enter Value"> <br><br>
         SL = <input type="text", name='sl', placeholder="Enter Value"> <br><br>
         CA = <input type="text", name='ca', placeholder="Enter Value"> <br><br>
         THAL = <input type="text", name='thal', placeholder="Enter Value"> <br><br><br>
        </b>
            <input type="submit" , value='predict!' >
        </form>

        </center>

    </body>
</html>
